@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
body{
    background-color: gainsboro;
}
h1.title, h1.Socials, h1.Note{
    font-weight: bolder;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
}
a {text-decoration: none; }
h3.about, h3.socials, h3.note{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
}
